<div class="card">
  <div class="card-body">
    <h5 class="card-title">Change Password</h5>
    <p class="card-text">Fill in the form below and click submit to update your password.</p>
    <form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSubmit()" errorTailor>
      <input class="form-control" formControlName="currentPassword" placeholder="Current Password" type="password" >
      <input class="form-control mt-2" formControlName="newPassword" placeholder="New Password" type="password">
      <input class="form-control mt-2" formControlName="confirmPassword" placeholder="Confirm Password" type="password">
      <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>
  </div>
</div>