/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.control-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 12px;
    color: #dc3545;
}
